body {
  background-image: url(assetss/saha.jpg);
  background-size: 100%;
}
.gslogo {
  width: 150px;
  height: 150px;
}
.fblogo {
  width: 170px;
  height: 170px;
}
.scoreA{
    float: right;
    font-size: 150px;
}
.scoreB{
    font-size: 150px;
}
.gsscore{
  display: inline;
}
